

.faqWrapper {
  display: flex;          
  align-items: flex-start; // Выравнивание элементов вверху
  width: 100%;
  margin: 0 auto;         
  position: relative;
}

.faqContent {
    flex-grow: 1; // Занимает оставшееся пространство
    display: flex;
    flex-direction: column;
    width: 100%; // Гарантирует, что контент займет всю ширину после SlideBar
    padding: 20px 40px; 
}

.pageTitle {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    align-self: flex-start; 
}