
.wrapper {
  display: flex;          
  align-items: flex-start; 
  width: 100%;
   
  margin: 0 auto;         
  position: relative;
      
  
}
.mainContent {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
