.wrapper {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;



}

.mainContent {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}