$bg-deep: #0c1427;
$header-bg: #2A3970;

.layoutContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: $bg-deep;
}

.authWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-deep;
  overflow-y: auto;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 0;
  overflow-y: auto;
  background-color: $bg-deep;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
}

.content {
  flex: 1;
  padding: 40px;
  background-color: $bg-deep;

  @media (max-width: 768px) {
    padding: 20px;
  }
}


.dot {
  color: rgba(255, 255, 255, 0.3);
}