@use '../helpers/mixins' as *;
@use '../helpers/media' as *;



.container {
  max-width: calc(var(--bg-container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include mobile {
    padding-inline: 24px
  }
}

.small-container {
  max-width: calc(var(--small-container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include mobile {
    padding-inline: 24px
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}