// src/app/slots/page.module.scss (или live-casino)

.wrapper {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}